<% if current_user_admin? %>
<aside id="sidebar">
  <nav>
    <button type="button" class="btn btn-outline-info"><%= link_to "All Inventory", stocks_path %></button>
    <button type="button" class="btn btn-outline-info"><%= link_to("New", new_stock_path) %></button>
    <button type="button" class="btn btn-outline-info"><%= link_to "Edit", edit_stock_path(@stock) %></button>
    <button type="button" class="btn btn-outline-info"><%= link_to "Delete", stock_path(@stock), method: :delete, data: { confirm: 'Are you sure?' } %></button>
  </nav>
</aside>
<% end %>
