<article>
  <header>
    <h1>Needs to work on</h1>
  </header>
  <p>
    <div id="container">
      <section id="sidebar">
        <%= render "layouts/editsidebar" %>
    </section>
    </div>
  </p>
</article>
