<article>
  <header>
    <h1> Model: <%= @stock.model %></h1>
  </header>
  <p>
    <div id="container">
      <section id="sidebar">
        <%= render "layouts/editsidebar" %>
    </section>
    </div>
  </p>
  <p>
    <%= image_for(@stock) %>
  </p>

</article>
