<%= form_with(model: automotive, local: true) do |form| %>
  <% if automotive.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(automotive.errors.count, "error") %> prohibited this automotive from being saved:</h2>

      <ul>
        <% automotive.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
