<h1>Dealership Inventory</h1>

<% @stocks.each do |stock| %>
  <article>
    <header>
      <h2>Vehicle: <%= link_to(stock.id, automotive_path(stock)) %></h2>
      <%= image_for(stock) %>
    </header>
  </article>
<% end %>
