<h1>Dealership Inventory</h1>

<% @inventory.each do |inventory| %>
  <article>
    <header>
      <h2><%= inventory.model %></h2>
    </header>
    <p>
      <%= inventory.color %></br>
      <%= inventory.year %></br>
    </p>
    <table>
      <tr>
        <th>Sales Price:</th>
        <td><%= inventory.saleprice %></td>
      </tr>
    </table>
  </article>
<% end %>
