<div class="container">
  <div class="row">
    <div class="col-1">
    </div>
    <div class="col-10">
      <video id ="player" playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
        <source src="//videos.dealer.com/videos2/clients/c/cllc/32fc014c0a0e0ca35e9b291694c8c24a_highest.mp4" type="video/mp4">
      </video>
    </div>
    <div class="col-1">
    </div>
  </div>
</div>
