<div class="container">

  <div class="row">
    <div class="col-sm-1">
    </div>
  <div class="col-sm-10">
    <div class="vid">
        <video id ="player" playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
          <source src="//videos.dealer.com/videos2/clients/c/cllc/32fc014c0a0e0ca35e9b291694c8c24a_highest.mp4" type="video/mp4">
        </video>
      </div>
   </div>
   <div class="col-sm-1">
   </div>

<div class="row">
    <div class="col-sm">
    </div>

    <div class="vid" class="col-10">
        <video id ="player" playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
          <source src="//videos.dealer.com/videos2/clients/c/cllc/32fc014c0a0e0ca35e9b291694c8c24a_highest.mp4" type="video/mp4">
        </video>
    </div>

    <div class="col-sm">
    </div>
>>>>>>> 0250179c3a714b5082a443a0d2ec8a6d9defd9d7
</div>
