<h1>Dealership Inventory</h1>

<% @inventory.each do |inventory| %>
  <article>
    <header>
      <h2>Vehicle: <%= link_to(inventory.id, automotive_path(inventory)) %></h2>
      <%= image_tag(inventory.url, size: "200x200",) %>
    </header>
  </article>
<% end %>

<%= link_to("Add New Automotive", new_automotive_path) %>
