.navbar-light .navbar-nav .nav-link .navbar-dark {
   color: red !important;
 }

.navbar-bgcolor {
   background-color: #101010 !important;
 }

.navbar-light .navbar-nav > li > a:hover, .navbar-light .navbar-nav > li > a:focus {
    background-color: #179BFF !important;
    color: #FFC0CB !important;
}

/* When the menu is collapsed, default theme is black making the icon hard to see.  This sets the color for the icon*/
.navbar-toggler {
  background-color: red !important;
}

.navbar-light .navbar-nav .nav-link {
    color: red !important;
}
