<header>
<div class="container-fluid">
  <div class="row">
    <div class="col text-center banner">
      Welcome to JMS Auto Sales
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      One of three columns
    </div>
    <div class="col-sm">
      One of three columns
    </div>
    <div class="col-sm">
      One of three columns
    </div>
  </div>
</div>
</header>

<div class="card mb-3" style="max-width: 540px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="https://fontawesome.com/icons/phone-square-alt?style=solid" class="card-img" alt="telephone number">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <p class="card-text">555-555-5555</p>
      </div>
    </div>
  </div>
</div>
