<header style="padding: 5px; color: #E52020; background: #101010;">
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <div class="container-fluid">
  <h1 class="text-center">Welcome to JMS Auto Sales</h1>
  </div>
</header>
