<header>
<div class="container-fluid">
  <div class="row">
    <div class="col text-center banner">
      Welcome to JMS Auto Sales
    </div>
  </div>
</div>

  <div class="navbar navbar-expand-lg navbar-light navbar-bgcolor justify-content-center">
      <li class="nav-item">
        <%= link_to '<i class="fas fa-phone-square-alt">Sales: 555-555-5555</i>'.html_safe %>
      </li>
      <li class="nav-item">
        <%= link_to '<i class="fas fa-phone-square-alt">Service: 555-555-5555</i>'.html_safe %>
    </li>
    <li class="nav-item">
      <%= link_to '<i class="fas fa-phone-square-alt">Parts: 555-555-5555</i>'.html_safe %>
    </li>
    <li class="nav-item">
      <%= link_to '<i class="fas fa-map-pin">555 North Kings Highway, Cape Girardeau, MO 63764</i>'.html_safe %>
    </li>
  </div>
</header>
