<nav class="navbar navbar-expand-lg navbar-light navbar-bgcolor" >
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
<<<<<<< HEAD
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/"><span>Main Page</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/stocks">Stock Inventory</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/automotives/contacts">Contact Us</a>
      </li>
    </ul>
    <li class="nav-item">
      <a class="nav-link" href="/users/new">Signup</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/session/new">Sign In</a>
    </li>
=======
    <div class="container-fluid">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/"><span>Main Page</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/stocks">Stock Inventory</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/automotives/contacts">Contact Us</a>
        </li>
        <li class="nav-item align-self-end">
          <a class="nav-link" href="/users/new">Signup</a>
        </li>
      </ul>
    </div>
>>>>>>> 0f76103383e50ea1fd1e3fb5f179fac23cdfdf90
  </div>
</nav>
